doctype html
html  
    head
        link(rel='stylesheet' href='https://getbootstrap.com/docs/4.4/dist/css/bootstrap.min.css')
        title Výsledky závodu
        style  
    body 
        header.jumbotron-fluid.bg-danger.p-4
            h1.text-center.text-white #{nadpis}
        main.container 
        table(class="table table-striped")
            thead
                tr
                    th Jméno
                    th Věk
                    th Čas v minutách
                    th Délka v km
            tbody 
                each pl in players 
                    tr
                        td #{pl.jmeno}
                        td #{pl.vek}
                        td #{pl.cas}
                        td #{pl.delka}
        button
                a(href='../') Zpět na formulář

                        script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js')
                        script(src='https://getbootstrap.com/docs/4.4/dist/js/bootstrap.bundle.min.js')
        
